DEV-DF-CRM/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DEV-DF-CRM"
		},
		"Accesso_ADW_US_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Accesso_ADW_US'"
		},
		"Accesso_ADW_US_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Accesso_ADW_US'"
		},
		"DL_TSTMOBILEAPP_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DL_TSTMOBILEAPP'"
		},
		"Accesso_ADW_US_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "attractions\\KKhan_admin"
		},
		"DL_TSTMOBILEAPP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://tstmobileapp.dfs.core.windows.net"
		},
		"GB01AP1063IR_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/934c0da0-cecd-4964-b5a0-ec4e9a880c9c/resourcegroups/EUW-TST-Mobile-App-Ticket-Retrieval/providers/Microsoft.DataFactory/factories/tstmobileappADF/integrationruntimes/UATEMEALONTM1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_ADW_Parent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute ADW Order",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_RAW_ADW_Order",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ADW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_RAW_ADW_Order')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_RAW_ADW_Order')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ADW_Order_Export",
						"description": "Accesso ADW Order Source Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait 7 secs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.1:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('\nSELECT TOP 10 *\nFROM dbo.SRC_ORDERS \nWHERE DateSold = CONVERT(DATE,',''''\n,activity('GetLoadDate').output.value[0].Config.DateStart,'''',')')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_ADW_Order",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_RAW_ADW_Order",
								"type": "DatasetReference",
								"parameters": {
									"pLoadDate": "@activity('GetLoadDate').output.value[0].Config.DateStart",
									"pFileName": "Order"
								}
							}
						]
					},
					{
						"name": "GetLoadDate",
						"description": "Get LoadDate from config table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 1,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Config",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Wait 7 secs",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "GetLoadDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 7
						}
					}
				],
				"folder": {
					"name": "ADW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SRC_ADW_Order')]",
				"[concat(variables('factoryId'), '/datasets/DS_RAW_ADW_Order')]",
				"[concat(variables('factoryId'), '/datasets/Config')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Config')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DL_TSTMOBILEAPP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Config.json",
						"folderPath": "Control",
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DL_TSTMOBILEAPP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RAW_ADW_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DL_TSTMOBILEAPP",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pLoadDate": {
						"type": "string",
						"defaultValue": "@activity('GetLoadDate').output.value[0].Config.DateStart"
					},
					"pFileName": {
						"type": "string",
						"defaultValue": "Order"
					}
				},
				"folder": {
					"name": "ADW"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().pFileName,'_',dataset().pLoadDate)",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('ADW/UK/CRM/',substring(dataset().pLoadDate,0,4),'/',substring(dataset().pLoadDate,4,2),'/',substring(dataset().pLoadDate,6,2))",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DL_TSTMOBILEAPP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SRC_ADW_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Accesso_ADW_US",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADW"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Accesso_ADW_US')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Accesso_ADW_US')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Accesso_ADW_US_connectionString')]",
					"userName": "[parameters('Accesso_ADW_US_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Accesso_ADW_US_password')]"
					}
				},
				"connectVia": {
					"referenceName": "GB01AP1063IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GB01AP1063IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DL_TSTMOBILEAPP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DL_TSTMOBILEAPP_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DL_TSTMOBILEAPP_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadSchedule_Aug')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PL_RAW_ADW_Order",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2019-08-01T05:00:00Z",
					"endTime": "2019-08-03T00:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_RAW_ADW_Order')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GB01AP1063IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('GB01AP1063IR_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}