DEV-DF-CRM/PartialArmTemplates/ArmTemplate_2_12_2020_13_46_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DEV-DF-CRM"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_RAW_ADW_Order')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ADW_Order_Export",
						"description": "Accesso ADW Order Source Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait 20 secs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.1:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('\nSELECT TOP 10 *\nFROM dbo.SRC_ORDERS \nWHERE DateSold = CONVERT(DATE,',''''\n,activity('GetLoadDate').output.value[0].Config.DateStart,'''',')')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_ADW_Order",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_RAW_ADW_Order",
								"type": "DatasetReference",
								"parameters": {
									"pLoadDate": "@activity('GetLoadDate').output.value[0].Config.DateStart",
									"pFileName": "Order"
								}
							}
						]
					},
					{
						"name": "GetLoadDate",
						"description": "Get LoadDate from config table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 1,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Config",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Wait 20 secs",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "GetLoadDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 15
						}
					}
				],
				"folder": {
					"name": "ADW"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}